.Sign_in_header_section {
  display: flex;
  width: 392px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.Sign_in_header {
  color: #fff;
  font-size: 35px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  margin: 30px 0px 0px 0px;
  box-sizing: border-box;
  height: 100px;
}
