.Login_Btn_section {
  display: inline-block;
  width: 40vh;
  height: 10vh;
}

.Login_Btn {
  width: 40vh;
  height: 10vh;
  background-color: #fff;
  border-radius: 15px 15px / 15px 15px;
  border: black solid 2px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  cursor: pointer;
}
