.Main_wrapper {
  display: inline-block;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Main_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.Main_box {
  display: flex;
  width: 902px;
  max-width: 902px;
  // border: rgb(212, 212, 212) solid 1px;
  border-radius: 0px 0px 15px 0px / 0px 0px 15px 0px;
  border-left: 1px solid #f4f3f3;
}

.Diary_main_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.Categorybar_box {
  display: flex;
}

.Main_container_top {
  display: flex;
  width: 100%;
  height: 71px;
  justify-content: center;
}

.Planet_name_box {
  display: flex;
  width: 200px;
  border-radius: 15px 0px 0px 0px / 15px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f4f3f3;
  border-right: 1px solid #f4f3f3;
}

.Modify_title_box {
  display: flex;
  width: 902px;
  border-radius: 0px 15px 0px 0px / 0px 15px 0px 0px;
  align-items: center;
  padding: 0px 0px 0px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #f4f3f3;
}

.Main_wrapper {
  border-radius: 15px;
}
