.Main_wrapper {
  display: inline-block;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  border-radius: 15px;

  .mainArrow {
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: -14px;
    transform: rotate(45deg);
  }
}

.Main_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.Main_box {
  display: flex;
  flex-direction: column;
  width: 902px;
  max-width: 902px;
  border-radius: 0px 0px 15px 0px / 0px 0px 15px 0px;
  border-left: 1px solid #f4f3f3;

  .Diary_selector_box {
    padding-left: 50px;
    padding-top: 25px;
  }
}

.Diary_main_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.Categorybar_box {
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0px;
}

.Main_container_top {
  display: flex;
  width: 100%;
  height: 71px;
  justify-content: center;
}

.Planet_name_box {
  display: flex;
  width: 200px;
  border-radius: 15px 0px 0px 0px / 15px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f4f3f3;
  border-right: 1px solid #f4f3f3;
}

.Modify_title_box {
  display: flex;
  width: 902px;
  border-radius: 0px 15px 0px 0px / 0px 15px 0px 0px;
  align-items: center;
  padding: 0px 62px;
  box-sizing: border-box;
  border-bottom: 1px solid #f4f3f3;
  justify-content: space-between;
}
