.Find_section {
  display: inline-block;
  img {
    width: 30px;
    height: 10px;
  }
}

.Find_container {
  display: flex;
  width: 392px;
  height: 50px;
  margin-top: 20px;

  justify-content: center;
  align-items: flex-end;
}

.Find {
  border: none;
  background-color: none;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
}
