.makePlanetSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  .makePlanetContainer {
    height: 100%;
  }
  .planetBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }
}
