h3 {
  color: #fff;
  margin: 1rem 0rem 2rem 0rem;
  font-size: 16px;
}
.findIdWrapper {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30%);
  flex-direction: column;
  width: 50rem;
  height: 45rem;
  align-items: center;
}

.findIdSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  height: 45rem;
  background-color: rgba(147, 147, 147, 0.1);
  border-radius: 15px 15px / 15px 15px;
}
.findIdHeaderSection {
  display: flex;
  width: 50rem;
  height: 8rem;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
}

.findIdHeader {
  color: #fff;
  font-size: 3rem;
  font-family: "Noto Sans KR", sans-serif;
}
