.Sign_in_logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 520px;
  height: 200px;
  img {
    width: 200px;
  }
}

.Sign_in_logo_wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
