.Find_container {
  display: flex;
  width: 30vw;
  height: 5vh;
  justify-content: center;
  align-items: center;
}
.Find_section {
  display: inline-block;
  width: 30vw;
  height: 5vh;
}

button {
  border: none;
  background-color: none;
  color: #fff;
}
