.landing_btn {
  width: 392px;
  height: 88px;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
}

.landing_btn:hover {
  background-color: #000000;
  color: #ffffff;
}
