.Sign_up_header_section {
  display: flex;
  width: 392px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.Sign_up_header {
  color: #fff;
  font-size: 35px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  margin: 30px 0px 0px 0px;
  height: 100px;
}
